﻿@model Web.Models.TaskViewModel
@{ Layout = "~/Views/Shared/modalLayout.cshtml"; }

@using (Html.BeginForm("Update", "Task", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    <h4>View Task</h4>
    <hr />
    <div class="row" id="taskform">
        <div class="col-md-6" style="padding-top:3px">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Uuid)
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StartDate, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.StartDate, "{0:yyyy-MM-dd HH:mm}", new { @class = "date", autocomplete ="off" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.EndDate, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.EndDate, "{0:yyyy-MM-dd HH:mm}", new { @class = "date", autocomplete = "off" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Description, 6, 40, new { @class = "form-control" })
                </div>
            </div>
            @Html.ValidationSummary("", new { @class = "text-danger" })

        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.TaskType, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(m => m.TaskType,
                        "Select Task Type",
                        new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Module, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Module, new SelectList(ViewBag.Modules, "Id", "Name"), new { @class = "modules, form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ParentTask, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.ParentTask, new SelectList(ViewBag.Tasks, "Uuid", "Name"), new { @class = "tasks, form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Completion, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(m => m.Completion, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10" style=" padding-left:25%; padding-top:25px">
                    <input type="submit" class="btn btn-default" value="Update Task" />
                </div>
            </div>
            <h5>@ViewBag.Message</h5>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-6 border">
        <h6>Notes</h6>
        <div class="vertical-menu">
            <a href="@Url.Action("Index", "TaskNote", new { TaskId = Model.Id })">Create New Note</a>
            @foreach (var t in Model.TaskNotes)
            {
                <a href="@Url.Action("View", "TaskNote", new { noteId = t.Id })">@t.Name</a>
            }
        </div>
    </div>
        
    <div class="col-md-6">
        @using (Html.BeginForm("Delete", "Task", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "taskDeleteBtn" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <div class="col-md-10" style="padding-top:25px">
                    <input type="submit" class="delete-btn btn btn-default" value="Delete Task" />
                </div>
            </div>
        }
    </div> 
</div>

        <script>
    $(document).ready(function () {
        if ("@Model.ParentTask" == "") {
            $('#ParentTask').append('<option selected value=""> No parent </option>');
        } else {
            $('#ParentTask').append('<option value=""> No parent </option>');
        }
    });

    $('#Module').change(function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("ModTasks", "Task")" + "?moduleId=" + $('#Module').val(),
            dataType: "json",
            success: function (data) {
                $('#ParentTask').empty();
                $('#ParentTask').append('<option value=""> No parent </option>');
                for (var entry in data) {
                    $('#ParentTask').append(
                        '<option value="'
                        + data[entry].Id + '">'
                        + data[entry].Name + '</option>'
                    );
                }
            }
        });
    });
        </script>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
