﻿@model Web.Models.TaskNoteViewModel
@{ Layout = "~/Views/Shared/modalLayout.cshtml"; }

@using (Html.BeginForm("Add", "TaskNote", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    <h4>Create Note</h4>
    <hr />
    @Html.HiddenFor(m => m.TaskId, new { @value = ViewBag.TaskId })
    <div class="row">
        <div class="col-md-10">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Content, 6, 40, new { @class = "form-control" })

                </div>
            </div>

        </div>

    </div>
    <h5>@ViewBag.Message</h5>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style=" padding-left:37%; padding-top:25px">
            <input type="submit" class="btn btn-default" value="Create Note" />
        </div>
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
