﻿@{
    ViewBag.Title = "Help";
}
<div class="jumbotron">

    <h2>@ViewBag.Title</h2>

    <h3>About Us</h3>
    <p>My Plan was created for the 2019 CMP-5012B Software Engineering Summative Assignment 2. This appliction forms Group 12s submission, and is the combined works of 100166648, 100168172, 100177699, 100184794, 100203707.</p>

    <h3>Features</h3>
    <ul>
        <li>Load Semester File - To create a semester study profile, a file will be required from your academic hub in the XML format.</li>
        <li>Add Tasks - Add tasks to your modules</li>
        <li>Notes - Add notes to your modules and tasks</li>
        <li>Dependencies - Tasks can have subtasks</li>
        <li>Gantt Chart - Visualise tasks on a Gantt Chart, to enable time planning.</li>
    </ul>


    <h3>Using The Semester Dashboard</h3>
    <h5>Add a Task</h5>
    <div class="helpItem">
        <table>
            <tr>
                <td>
                    <img src="~/Content/newTask.png" alt="Image of task drag handles" />
                </td>
                <td>
                    To add a task, click the Add Task button at the bottom of the chart, and then fill in the task details. 
                    Your task will now appear on the Gantt Chart.
                </td>
            </tr>
        </table>
    </div>


    <h5>Modifying Tasks</h5>
    <div class="helpItem">
        <table>
            <tr>
                <td>
                    <img src="~/Content/taskDrag.png" alt="Image of task drag handles" />
                </td>
                <td>
                    To change the start or end date of a task, or to move its timeframe all together, simply drag either end or the whole task.
                    See the lock button below to disable this.
                </td>
            </tr>

            <tr>
                <td>
                    <img src="~/Content/viewTask.png" alt="Image of task view popup." />
                </td>
                <td>
                    To change more information about the task, click on a task, which will launch the view task popup. From here you
                    can change details about the task.
                </td>
            </tr>
        </table>
    </div>

    <h5>Filtering Tasks</h5>
    <div class="helpItem">
        <table>
            <tr>
                <td>
                    <img src="~/Content/filterType.png" alt="Image of task type filter drop down menu" />
                </td>
                <td>
                    To Filter by task type, use the drop down menu and select a task type to display.
                </td>
            </tr>

            <tr>
                <td>
                    <img src="~/Content/filterModule.png" alt="Image of module selection buttons" />
                </td>
                <td>
                    To Filter by module, select the desired module from the buttons below the Gantt Chart.
                </td>
            </tr>

            <tr>
                <td>
                    <img src="~/Content/taskCompletion.png" alt="Image of task completion filter" />
                </td>
                <td>
                    To Filter by completion status, select from the drop down box the desired completion. <br />
                    In Progress: Tasks that have not been completed, and have not been missed. <br />
                    Upcoming: Tasks that have not been completed, and have are due within the next 2 weeks.<br />
                    Completed: Tasks that have been completed.<br />
                    Missed: Tasks past their due date that have not been completed.<br />
                </td>
            </tr>
        </table>
    </div>



    <h5>Lock Button</h5>
    <div class="helpItem">
        <table>
            <tr>
                <td>
                    <img src="~/Content/lockHelp.png" alt="Image of Lock button" />
                </td>
                <td>
                    If you would like to lock interactive changing on task duration, start date, or end date, press the lock button
                    to toggle drag locking. To unlock, simply press the button again.
                </td>

            </tr>
            <tr>
                <td></td>
                <td>
                    Hint: This may be helpful on touchscreen devices.
                </td>
            </tr>
        </table>
    </div>




</div>