﻿@{
    ViewBag.Title = "Contact";
}



<div class="jumbotron">
    <h2>@ViewBag.Title</h2>

    <address>
        School of Computing Sciences<br />
        University of East Anglia<br />
        Norwich Research Park<br />
        NR4 7TJ
    </address>


    @using (Html.BeginForm("SendContactForm", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @model Web.Models.ContactModel
        <h4>Contact Us</h4>
        @TempData["cfResult"]
        <hr />
        <div class="form-group">
            <label>Name:</label>
            <div class="col-md-10">
                <input type="text" size="50" name="name" id="name" title="Name" /><br><br>
            </div>
        </div>
        <div class="form-group">
            <label>Email:</label>
            <div class="col-md-10">
                <input type="text" size="50" name="email" id="email" title="Email"/><br><br>
            </div>
        </div>
        <div class="form-group">
            <label >Message:</label>
            <div class="col-md-10">
                <textarea rows="5" cols="50" name="message" title="Message to MyPlan Team."></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Send" title="Submit"/>
            </div>
        </div>
    }
</div>