﻿@model Web.Models.CreateSemesterViewModel
@{ Layout = "~/Views/Shared/modalLayout.cshtml"; }

@using (Html.BeginForm("UploadSemesterFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id="sem-upload"}))
{
    @Html.AntiForgeryToken()
    <h4>Create a new Semester</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.StartDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.StartDate, new { @class = "date form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EndDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EndDate, new { @class = "date form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.File, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.File, new { @class = "form-control" })
        </div>
    </div>
    <h5>@ViewBag.Message</h5>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" id="createSemButton" style=" padding-left:34%; padding-top:25px">
            <input type="submit" class="btn btn-default" value="Create Semester" />
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('#File').attr("type", "file");
        $('#File').attr("class", "");
    });
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}