﻿@model IEnumerable<Web.Models.StudentSemester>

    @{
    ViewBag.Title = "Home Page";
    }

    @if (ViewBag.UserNow != null)
    {
    <div class="jumbotron">
        <h1>Semester Selection</h1>
        <p class="lead">Select a semester, or upload a new file from your Hub.</p>
        @if (Model != null)
        {
            foreach (var s in Model)
            {
                <p>
                    <button class="semButton" onclick="location.href='@Url.Action("Index", "Dashboard", new { semesterId = s.Id })'">
                        @s.SemesterName
                    </button>
                </p>
            }
        }
        <button class="semButton" id="newSemButton"> Create New Semester </button> @*Create a new Semester Modal*@
        <script>
            $('#newSemButton').click(function (e) {
                var src = "@Url.Action("createSemesterModal", "Home")";
                $.modal('<iframe src="' + src + '" height="530" width="500" style="border:0; border-radius: 15px;">', {
                    closeHTML: "",
                    overlayCss: {
                        backgroundColor: "black",
                        opacity: 0.5,
                    },
                    containerCss: {
                        backgroundColor: "#EAEBED",
                    },
                    overlayCss: {
                        backgroundColour: "#000000"
                    },
                    overlayClose: true,
                    onClose : function(dialog) {
                        window.location.reload();
                    }
                });

                return false;
            });
        </script>
    </div>
    }
    else
    {
    <div class="jumbotron">
        <h1>Welcome</h1>
        <p class="lead">My Plan is a revolutionary new study planning solution, to allow you to manage your time better and achieve higher grades. My Plan allows you to add tasks, see what tasks are coming up, visualise your workload with a Gantt Chart, and much more. To sign up, hit the button below.</p>
        <p><a href="/Account/Register" class="btn btn-default">Register &raquo;</a></p>
    </div>

    /*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div> */
    }
