﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #EAEBED;
    /*Could set background to be an image?*/
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #282725;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    text-align:center;
    background: #282725;
}

    #sidebar ul.components {
        padding: 20px 0;
        border-top: 2px solid #282725;
        border-bottom: 2px solid #282725;
    }

#sidebar ul p {
    color: #EAEBED;
    padding: 10px;
}

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        padding-left: 2em;
    }

#sidebar ul li a:hover {
    background: #63615d;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #282757;
}

@media (max-width: 768px) {
    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar {
        margin-left: 0;
    }

 

    #content {
        width: calc(100% - 250px);
    }

    #content.active {
            
        width: 100%;
    }
}


#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

footer {
    color: #282725;
}

.btn-default {
    background-color: #054A91;
    color:white;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

/*Strap Bar*/
.navbar {
    padding: 15px 10px;
    background: #054A91;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    text-align:center;
    color:white;
}

/*https://www.w3schools.com/howto/howto_css_menu_icon.asp*/
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    display:block;
}

#title {
    text-align:center;
    display:inline;
    font-size:xx-large;    
}

#title h3 {
    padding-right: 44vw;
}

#togNav {
    float:left;
    margin-left:unset;
    margin-right:unset;
    max-width:60px;
}

/*Animate the bars*/
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}