﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #EAEBED;
    /*Could set background to be an image?*/
}

/*
.jumbotron {
    background-color: ;
} */

footer {
    color: #282725;
}

.btn-primary {
    background-color: #054A91;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-default .navbar-brand a {
    color:white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.nav.navbar-nav.navbar-nav li a {
    color:white;
}


.navbar {
    background-color: #054A91;
}