﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #EAEBED;
    /*Could set background to be an image?*/
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #282725;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    text-align:center;
    background: #282725;
}

    #sidebar ul.components {
        padding: 20px 0;
        border-top: 2px solid #282725;
        border-bottom: 2px solid #282725;
    }

#sidebar ul p {
    color: #EAEBED;
    padding: 10px;
}

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        padding-left: 2em;
    }

#sidebar ul li a:hover {
    background: #63615d;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #282757;
}

@media (max-width: 768px) {
    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar {
        margin-left: 0;
    }

 

    #content {
        width: calc(100% - 250px);
    }

    #content.active {
            
        width: 100%;
    }
}


#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

footer {
    color: #282725;
}

.btn-default {
    background-color: #054A91;
    color:white;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

/*Strap Bar*/
.navbar {
    padding: 15px 10px;
    background: #054A91;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    text-align:center;
    color:white;
}

/*https://www.w3schools.com/howto/howto_css_menu_icon.asp*/
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    display:block;
}

#title {
    text-align:center;
    display:inline;
    font-size:xx-large;    
}

#title h3 {
    padding-right: 44vw;
}

<<<<<<< HEAD
.navbar {
    background-color: #054A91;
}

/*Gantt chart CSS starts here*/
.gantt .grid-background {
  fill: none; }

.gantt .grid-header {
  fill: #ffffff;
  stroke: #e0e0e0;
  stroke-width: 1.4; }

.gantt .grid-row {
  fill: #ffffff; }

.gantt .grid-row:nth-child(even) {
  fill: #f5f5f5; }

.gantt .row-line {
  stroke: #ebeff2; }

.gantt .tick {
  stroke: #e0e0e0;
  stroke-width: 0.2; }
  .gantt .tick.thick {
    stroke-width: 0.4; }

.gantt .today-highlight {
  fill: #fcf8e3;
  opacity: 0.5; }

.gantt .arrow {
  fill: none;
  stroke: #666;
  stroke-width: 1.4;
  opacity: 0;  }

.gantt .bar {
  fill: #b8c2cc;
  stroke: #8D99A6;
  stroke-width: 0;
  transition: stroke-width .3s ease;
  user-select: none; }

.gantt .bar-progress {
  fill: #a3a3ff; }

.gantt .bar-invalid {
  fill: transparent;
  stroke: #8D99A6;
  stroke-width: 1;
  stroke-dasharray: 5; }
  .gantt .bar-invalid ~ .bar-label {
    fill: #555; }

/*Custom colour for bars*/
.bar-activity .bar {
	fill: #DCDCDC;
}
.bar-activity .bar-progress {
	fill: #000;
	height: 10px;
}
.bar-activity .bar-label {
	fill: #f0f;
}

.bar-activity-parent .bar {
	fill: #DCDCDC;
}
.bar-activity-parent .bar-progress {
	fill: #000;
	height: 10px;
}

.bar-coursework .bar {
	fill: #FFA07A;
}
.bar-coursework .bar-progress {
	fill: #000;
	height: 10px;
}
.bar-coursework .bar-label {
	fill: #f0f;
}

.bar-coursework-parent .bar {
	fill: #FFA07A;
}
.bar-coursework-parent .bar-progress {
	fill: #000;
	height: 10px;
}

.bar-lab .bar {
	fill: #ADD8E6;
}
.bar-lab .bar-progress {
	fill: #000;
	height: 10px;
}
.bar-lab .bar-label {
	fill: #f0f;
}

.bar-lab-parent .bar {
	fill: #ADD8E6;
}
.bar-lab-parent .bar-progress {
	fill: #000;
	height: 10px;
}

.bar-lecture .bar {
	fill: #DDA0DD;
}
.bar-lecture .bar-progress {
	fill: #000;
	height: 10px;
}
.bar-lecture .bar-label {
	fill: #f0f;
}

.bar-lecture-parent .bar {
	fill: #DDA0DD;
}
.bar-lecture-parent .bar-progress {
	fill: #000;
	height: 10px;
}

.bar-milestone .bar {
	fill: #00FA9A;
}
.bar-milestone .bar-progress {
	fill: #000;
	height: 10px;
}
.bar-milestone .bar-label {
	fill: #f0f;
}

.bar-milestone-parent .bar {
	fill: #00FA9A;
}
.bar-milestone-parent .bar-progress {
	fill: #000;
	height: 10px;
}

.bar-seminar .bar {
	fill: #FFB6C1;
}
.bar-seminar .bar-progress {
	fill: #000;
	height: 10px;
}
.bar-seminar .bar-label {
	fill: #f0f;
}

.bar-seminar-parent .bar {
	fill: #FFB6C1;
}
.bar-seminar-parent .bar-progress {
	fill: #000;
	height: 10px;
}

.gantt .bar-label {
  fill: #fff;
  dominant-baseline: central;
  text-anchor: middle;
  font-size: 12px;
  font-weight: lighter; }
  .gantt .bar-label.big {
    fill: #555;
    text-anchor: start; }

.gantt .handle {
  fill: #ddd;
  cursor: ew-resize;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease; }

.gantt .bar-wrapper {
  cursor: pointer;
  outline: none; }
  .gantt .bar-wrapper:hover .bar {
    fill: #a9b5c1; }
  .gantt .bar-wrapper:hover .bar-progress {
    fill: #8a8aff; }
  .gantt .bar-wrapper:hover .handle {
    visibility: visible;
    opacity: 1; }
  .gantt .bar-wrapper.active .bar {
    fill: #a9b5c1; }
  .gantt .bar-wrapper.active .bar-progress {
    fill: #8a8aff; }

.gantt .lower-text, .gantt .upper-text {
  font-size: 12px;
  text-anchor: middle; }

.gantt .upper-text {
  fill: #555; }

.gantt .lower-text {
  fill: #333; }

.gantt .hide {
  display: none; }

.gantt-container {
  position: relative;
  overflow: auto;
  font-size: 12px; }
  .gantt-container .popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 0;
    color: #959da5;
    border-radius: 3px; }
    .gantt-container .popup-wrapper .title {
      border-bottom: 3px solid #a3a3ff;
      padding: 10px; }
    .gantt-container .popup-wrapper .subtitle {
      padding: 10px;
      color: #dfe2e5; }
    .gantt-container .popup-wrapper .pointer {
      position: absolute;
      height: 5px;
      margin: 0 0 0 -5px;
      border: 5px solid transparent;
      border-top-color: rgba(0, 0, 0, 0.8); }
=======
#togNav {
    float:left;
    margin-left:unset;
    margin-right:unset;
    max-width:60px;
}

/*Animate the bars*/
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
>>>>>>> master
