﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #EAEBED;
    /*Could set background to be an image?*/
}

/*
.jumbotron {
    background-color: ;
} */

footer {
    color: #282725;
}

.btn-primary {
    background-color: #054A91;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-default .navbar-brand a {
    color:white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.nav.navbar-nav.navbar-nav li a {
    color:white;
}


.navbar {
    background-color: #054A91;
}

/*Gantt chart CSS starts here*/
.gantt .grid-background {
  fill: none; }

.gantt .grid-header {
  fill: #ffffff;
  stroke: #e0e0e0;
  stroke-width: 1.4; }

.gantt .grid-row {
  fill: #ffffff; }

.gantt .grid-row:nth-child(even) {
  fill: #f5f5f5; }

.gantt .row-line {
  stroke: #ebeff2; }

.gantt .tick {
  stroke: #e0e0e0;
  stroke-width: 0.2; }
  .gantt .tick.thick {
    stroke-width: 0.4; }

.gantt .today-highlight {
  fill: #fcf8e3;
  opacity: 0.5; }

.gantt .arrow {
  fill: none;
  stroke: #666;
  stroke-width: 1.4;
  opacity: 0;  }

.gantt .bar {
  fill: #b8c2cc;
  stroke: #8D99A6;
  stroke-width: 0;
  transition: stroke-width .3s ease;
  user-select: none; }

.gantt .bar-progress {
  fill: #a3a3ff; }

.gantt .bar-invalid {
  fill: transparent;
  stroke: #8D99A6;
  stroke-width: 1;
  stroke-dasharray: 5; }
  .gantt .bar-invalid ~ .bar-label {
    fill: #555; }

/*Custom colour for bars*/
.bar-activity .bar {
	fill: #DCDCDC;
}
.bar-activity .bar-progress {
	fill: #000;
	height: 10px;
}
.bar-activity .bar-label {
	fill: #f0f;
}

.bar-activity-parent .bar {
	fill: #DCDCDC;
}
.bar-activity-parent .bar-progress {
	fill: #000;
	height: 10px;
}

.bar-coursework .bar {
	fill: #FFA07A;
}
.bar-coursework .bar-progress {
	fill: #000;
	height: 10px;
}
.bar-coursework .bar-label {
	fill: #f0f;
}

.bar-coursework-parent .bar {
	fill: #FFA07A;
}
.bar-coursework-parent .bar-progress {
	fill: #000;
	height: 10px;
}

.bar-lab .bar {
	fill: #ADD8E6;
}
.bar-lab .bar-progress {
	fill: #000;
	height: 10px;
}
.bar-lab .bar-label {
	fill: #f0f;
}

.bar-lab-parent .bar {
	fill: #ADD8E6;
}
.bar-lab-parent .bar-progress {
	fill: #000;
	height: 10px;
}

.bar-lecture .bar {
	fill: #DDA0DD;
}
.bar-lecture .bar-progress {
	fill: #000;
	height: 10px;
}
.bar-lecture .bar-label {
	fill: #f0f;
}

.bar-lecture-parent .bar {
	fill: #DDA0DD;
}
.bar-lecture-parent .bar-progress {
	fill: #000;
	height: 10px;
}

.bar-milestone .bar {
	fill: #00FA9A;
}
.bar-milestone .bar-progress {
	fill: #000;
	height: 10px;
}
.bar-milestone .bar-label {
	fill: #f0f;
}

.bar-milestone-parent .bar {
	fill: #00FA9A;
}
.bar-milestone-parent .bar-progress {
	fill: #000;
	height: 10px;
}

.bar-seminar .bar {
	fill: #FFB6C1;
}
.bar-seminar .bar-progress {
	fill: #000;
	height: 10px;
}
.bar-seminar .bar-label {
	fill: #f0f;
}

.bar-seminar-parent .bar {
	fill: #FFB6C1;
}
.bar-seminar-parent .bar-progress {
	fill: #000;
	height: 10px;
}

.gantt .bar-label {
  fill: #fff;
  dominant-baseline: central;
  text-anchor: middle;
  font-size: 12px;
  font-weight: lighter; }
  .gantt .bar-label.big {
    fill: #555;
    text-anchor: start; }

.gantt .handle {
  fill: #ddd;
  cursor: ew-resize;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease; }

.gantt .bar-wrapper {
  cursor: pointer;
  outline: none; }
  .gantt .bar-wrapper:hover .bar {
    fill: #a9b5c1; }
  .gantt .bar-wrapper:hover .bar-progress {
    fill: #8a8aff; }
  .gantt .bar-wrapper:hover .handle {
    visibility: visible;
    opacity: 1; }
  .gantt .bar-wrapper.active .bar {
    fill: #a9b5c1; }
  .gantt .bar-wrapper.active .bar-progress {
    fill: #8a8aff; }

.gantt .lower-text, .gantt .upper-text {
  font-size: 12px;
  text-anchor: middle; }

.gantt .upper-text {
  fill: #555; }

.gantt .lower-text {
  fill: #333; }

.gantt .hide {
  display: none; }

.gantt-container {
  position: relative;
  overflow: auto;
  font-size: 12px; }
  .gantt-container .popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 0;
    color: #959da5;
    border-radius: 3px; }
    .gantt-container .popup-wrapper .title {
      border-bottom: 3px solid #a3a3ff;
      padding: 10px; }
    .gantt-container .popup-wrapper .subtitle {
      padding: 10px;
      color: #dfe2e5; }
    .gantt-container .popup-wrapper .pointer {
      position: absolute;
      height: 5px;
      margin: 0 0 0 -5px;
      border: 5px solid transparent;
      border-top-color: rgba(0, 0, 0, 0.8); }
