﻿@model IEnumerable<Web.Models.GanttTask>
@{
}

<div class="container">
    <h3>@ViewBag.Title</h3>
    <div class="ganttButtons">
        <button class="btn btn-default" onclick="location.href='@Url.Action("Index", "Home")'">Semester Selection</button>
        <button class="btn btn-default" id="LOCK_ICON" onclick="toggleLock()">&#128275;</button>
        <button class="btn btn-default" id="Notes_button" onclick="toggleNotes()">Notes</button>
        <button id="addTask" class="btn btn-default">Add Task</button>
        <script>
            $('#addTask').click(function (e) {
                var src = "@Url.Action("index", "Task", new { semesterId = ViewBag.SemId })";
                $.modal('<iframe src="' + src + '" height="750" width="800" style="border:0; padding-top:25px; max-width:100%">', {
                    closeHTML: "",
                    overlayCss: {
                        backgroundColor: "black",
                        opacity: 0.5,
                    },
                    containerCss: {
                        backgroundColor: "#EAEBED",
                        width: 800,
                        height: 780
                    },

                    overlayClose: true,
                    onClose : function(dialog) {
                        window.location.reload();
                    }
                });

                return false;
            });
        </script>
        @*128275 = open lock, 128274 = closed lock*@
        <select id="type-selection" onchange="taskTypeFilter(this.value)">
            <option value="NONE">Show All Task Types</option>
            <option value="LECTURE">Lecture</option>
            <option value="LAB">Lab</option>
            <option value="SEMINAR">Seminar</option>
            <option value="COURSEWORK">Coursework</option>
            <option value="MILESTONE">Milestone</option>
            <option value="ACTIVITY">Activity</option>
        </select>

        <select id="mod-selection" onchange="moduleFilter(this.value)">
            <option value="-1|NONE">Show All Modules</option>
            @foreach (Web.Models.StudentModule module in ViewBag.mods)
            {
                <option value="@module.Id|@module.Name">@module.Name</option>
            }
        </select>

        <select id="compl-selection" onchange="completionFilter(this.value)">
            <option value="NONE">Show All Tasks</option>
            <option value="Prog">In Progress</option>
            <option value="Upcoming">Upcoming</option>
            <option value="True">Completed</option>
            <option value="False">Missed</option>
        </select>

    </div>

    <div id="modNotesBar">
        <p></p>
        <h4>Module Notes</h4>
        <div id="notesList">
        </div>
    </div>

    <div id="gantt-empty"><h3>No tasks exist for this filter. Use the "Add Task" button to create one!</h3></div>
    <div class="gantt-target"></div>

</div>


<script>
    var type = "NONE";
    var module = "NONE";
    var completion = "NONE";
    var locked = 0;
    var lockedIcon = "&#128275;";
    var tasksOriginal =  @Html.Raw(Json.Encode(Model));
    var tasks = tasksOriginal;
    var selectedModule = -1;
    var showingNotes = 0;

    function convertDate(date) {
        var d = date;
        var dd = d.getDate();
        var mm = d.getMonth() + 1;
        var yyyy = d.getFullYear();
        d = yyyy + '-' + mm + '-' + dd;
        return d;
    }

    function modSelectionChange(x) {
        selectedModule = x;
        if (x == -1) {
            document.getElementById('modNotesBar').style.display = 'none';
            document.getElementById('Notes_button').style.backgroundColor = "#808080";
            showingNotes = 0;
        }
        else {

            $.ajax({
                type: "GET",
                url: "@Url.Action("getNotesList", "Dashboard")" + "?moduleId=" + selectedModule,
                dataType: "json",
                success: function (data) {
                    $('#notesList').empty();
                    for (var entry in data) {
                        //append to list
                        $('#notesList').append("<a onclick=moduleNoteClick(" + data[entry].Id + ");>" + data[entry].Name + "</a>");
                    }
                    $('#notesList').append("<a onclick='addModuleNote();'>Create New Note </a>");
                },
                error: function (result) {
                    alert('error');
                }
            })
            document.getElementById('Notes_button').style.backgroundColor = "#054A91";
            showingNotes = 1;
            modNotesBar();
        }
    }

    function addModuleNote() {
        var src = "@Url.Action("Index", "ModuleNote", new { moduleId = "MID" })";
        src = src.replace("MID", selectedModule);


        $.modal('<iframe src="' + src + '" height="530" width="500" style="border:0; border-radius:25px; padding-left:20px; max-width:100%;">', {
            closeHTML: "",
            overlayCss: {
                backgroundColor: "black",
                opacity: 0.5,
            },
            containerCss: {
                backgroundColor: "#EAEBED",

            },
            overlayClose: true,
            onClose: function (dialog) {
                window.location.reload();
            }
        });
        return false;
    }

    function moduleNoteClick(id)
    {
        var src = "@Url.Action("View", "ModuleNote", new { noteId = "NID"})";
        src = src.replace("NID", id);

        $.modal('<iframe src="' + src + '" height="555" width="500" style="border:0; border-radius:25px; padding-left:20px; max-width:100%;">', {
            closeHTML: "",
            overlayCss: {
                backgroundColor: "black",
                opacity: 0.5,
            },
            containerCss: {
                backgroundColor: "#EAEBED",

            },
            overlayClose: true,
            onClose: function (dialog) {
                window.location.reload();
            }
        });
        return false;
    }

    document.addEventListener("mousedown", mouseDownHandler, true);

    function filterGantt() {
        upcomingTasks = [];
        var tmp = [];
        for (var i = 0; i < tasksOriginal.length;i++) {
            if ((tasksOriginal[i].module == module || module == "NONE") && (tasksOriginal[i].type == type || type == "NONE")
                && (tasksOriginal[i].completed == completion || completion == "NONE" || completion == "Prog" || completion == "Upcoming")) {
                //Create date for today
                var today = convertDate(new Date);
                //Create date for end of task
                var end = new Date();
                var split = tasksOriginal[i].end.split("-");
                if (split[1].charAt(0) == '0') {
                    split[1] = split[1].slice(1);
                }
                if (split[2].charAt(0) == '0') {
                    split[2] = split[2].slice(1);
                }
                end = split[0] + '-' + split[1] + '-' + split[2];
                //Create date for today + 2 weeks for upcoming tasks
                var date2wk = new Date(today);
                date2wk.setDate(date2wk.getDate() + 14);
                dd = (date2wk.getDate()).toString();
                mm = (date2wk.getMonth() + 1).toString();
                yyyy = date2wk.getFullYear();
                if (mm.charAt(0) == '0') {
                    mm = mm.slice(1);
                }
                if (dd.charAt(0) == '0') {
                    dd = dd.slice(1);
                }
                date2wk = yyyy + '-' + mm + '-' + dd;
                //Update tasks list for Gantt Chart
                if (completion == "False") {
                    if (end < today) {
                        tmp.push(tasksOriginal[i]);
                    }
                }
                else if (completion == "Prog") {
                    if (today <= end) {
                        tmp.push(tasksOriginal[i]);
                    }
                }
                else if (completion == "Upcoming") {
                    if ((date2wk >= end) && (end >= today)) {
                        tmp.push(tasksOriginal[i]);
                    }
                }
                else {
                    tmp.push(tasksOriginal[i]);
                }
            }
        }
        tasks = tmp;
        if (tmp.length != 0) {
            document.getElementsByClassName("gantt-target")[0].style.display = "block";
            document.getElementById("gantt-empty").style.display = "none";
            gantt_chart.refresh(tasks);
        }
        else {
            document.getElementsByClassName("gantt-target")[0].style.display = "none";
            document.getElementById("gantt-empty").style.display = "block";
        }
    }

    function moduleFilter(input) {
        var split = input.split("|");
        module = split[1];
        filterGantt();
        modSelectionChange(split[0]);
    }

    function taskTypeFilter(filter) {
        type = filter;
        filterGantt();

    }

    function completionFilter(filter) {
        completion = filter;
        filterGantt();

    }

    function modNotesBar() {
        if (selectedModule == -1) {
            
        }
        else {
            $('#modNotesBar', '#content').toggleClass('active');
            document.getElementById('modNotesBar').style.display = 'block';
            showingNotes = 1;
        }

    }

    function toggleNotes() {
        if (showingNotes == 1) {
            showingNotes = 0;
            document.getElementById('modNotesBar').style.display = 'none';
        }
        else {
            showingNotes = 1;
            if (selectedModule != -1) {
                document.getElementById('modNotesBar').style.display = 'block';
            }
        }
    }

    function toggleLock() {
        if (locked == 0) {
            locked = 1;
            document.getElementById('LOCK_ICON').innerHTML = "&#128274;";
        }
        else {
            locked = 0;
            document.getElementById('LOCK_ICON').innerHTML = "&#128275;";
            documet.getElementById('gantt').blur();
            document.mousedown = null;
            document.mouseup = null;
            document.on_click = null;

        }


    }
    function mouseDownHandler(e) {
        if (!(e.target.id == "type-selection" || 
            e.target.id == "mod-selection" ||
            e.target.id == "compl-selection")) {
            if (locked == 1) {
                e.stopPropagation();
                e.preventDefault();
            }
        }

    }

    var gantt_chart = new Gantt(".gantt-target", tasks, {
    date_format: 'DD-MM-YYYY',
        on_click: function (task) {         
            var src = "@Url.Action("View", "Task")" + "?taskUuid=" + task.id;
                $.modal('<iframe src="' + src + '" height="800" width="850" style="border:0; padding-top:25px; max-width:100%">', {
                    closeHTML: "",
                    overlayCss: {
                        backgroundColor: "black",
                        opacity: 0.5,
                    },
                    containerCss: {
                        backgroundColor: "#EAEBED",
                        width: 850,
                        height: 820
                    },

                    overlayClose: true,
                    onClose : function(dialog) {
                        window.location.reload();
                    }
                });
        return false;
    },
    on_date_change: function (task, start, end) {
        console.log(task, start, end);
        //Call update function here.
        var t = {};
        t.start = start;
        t.end = end;
        t.id = task.id;
        t.url = "@Url.Action("UpdateTaskDates", "Dashboard")";
        t.type = "POST";
        t.dataType = "Json";
        t.data = JSON.stringify({ tsk: t });
        t.contentType = "application/json";
        t.success = function (response) {
            //alert("Success")
            for (var i = 0; i < tasks.length; i++) {
                if (task.id == tasks[i].id) {
                    tasks[i].start = convertDate(start);
                    tasks[i].end = convertDate(end);
                }
            }
        }
        t.error = function (response) {
            //alert("Error")
        }
        $.ajax(t);
        //window.alert("Date Changed");
    },
    on_progress_change: function (task, progress) {
        console.log(task, progress);
    },
    on_view_change: function (mode) {
        console.log(mode);
    },
    view_mode: 'Day',
    language: 'en'
    });
    console.log(gantt_chart);

</script>
