﻿@model Web.Models.StudentModuleNoteViewModel
@{ Layout = "~/Views/Shared/modalLayout.cshtml"; }

@using (Html.BeginForm("Update", "ModuleNote", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <h4>Edit Note</h4>
    <hr />
    @Html.HiddenFor(m => m.Id, new { @value = Model.Id })

    <div class="row">
        <div class="col-md-4">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Content, 6, 40, new { @class = "form-control" })

                </div>
            </div>

        </div>

    </div>
    <h5>@ViewBag.Message</h5>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style=" padding-left:37%; padding-top:10px">
            <input type="submit" class="btn btn-default" value="Update Note" />
        </div>
    </div>

}

@using (Html.BeginForm("Delete", "ModuleNote", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id, new { @value = Model.Id })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style=" padding-left:37%; padding-top:5px;">
            <input type="submit" class="delete-btn btn btn-default" value="Delete Note" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}